@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 200 25% 12%;
    --foreground: 210 40% 98%;

    --card: 200 25% 15%;
    --card-foreground: 210 40% 98%;

    --popover: 200 25% 12%;
    --popover-foreground: 210 40% 98%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --radius: 0.5rem;

    --sidebar-background: 350 35% 25%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 350 30% 20%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 350 25% 30%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 350 30% 20%;
    --sidebar-ring: 350 35% 35%;
  }

  .dark {
    --background: 200 25% 12%;
    --foreground: 210 40% 98%;

    --card: 200 25% 15%;
    --card-foreground: 210 40% 98%;

    --popover: 200 25% 12%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;

    --sidebar-background: 350 30% 20%;
    --sidebar-foreground: 0 0% 98%;
    --sidebar-primary: 350 25% 15%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 350 20% 25%;
    --sidebar-accent-foreground: 0 0% 98%;
    --sidebar-border: 350 25% 15%;
    --sidebar-ring: 350 30% 30%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}